.top-styles {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  align-items: center;
  position: fixed;
  /*makes header fixed*/
  width: 100%;
  top: 0;
  /*end of fixed header styles*/
}
.top-styles h2 {
  padding: 1% 0;
}
.nav-styles {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  color: #454A59;
}
.nav-styles a {
  text-decoration: none;
  color: #454A59;
  padding: 2%;
  border-radius: 10px;
}
.color-animate {
  animation-name: start;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes start {
  0% {
    background-color: #e6e6ff;
  }
  25% {
    background-color: #8080ff;
  }
  50% {
    background-color: #3333ff;
  }
  50% {
    background-color: #0000b3;
  }
  100% {
    background-color: #000066;
    color: white;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body,
nav {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p,
nav {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.topbar {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  align-items: center;
  position: fixed;
  /*makes header fixed*/
  width: 100%;
  top: 0;
  /*end of fixed header styles*/
}
.topbar h2 {
  padding: 1% 0;
}
.topbar nav {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  color: #454A59;
}
.topbar nav a {
  text-decoration: none;
  color: #454A59;
  padding: 2%;
  border-radius: 10px;
}
.topbar nav a:hover {
  animation-name: start;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes start {
  0% {
    background-color: #e6e6ff;
  }
  25% {
    background-color: #8080ff;
  }
  50% {
    background-color: #3333ff;
  }
  50% {
    background-color: #0000b3;
  }
  100% {
    background-color: #000066;
    color: white;
  }
}
@media (max-width: 500px) {
  .topbar nav {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  margin-top: 10%;
  /*accounts for fixed header*/
}
@media (max-width: 500px) {
  .home {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
  }
  .home .intro .clouds {
    width: 100%;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images .sky {
    display: none;
  }
  .home .space-images .launch {
    display: none;
  }
  .home .space-images .blast {
    width: 95%;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.home .walk .walk-text {
  width: 50%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  background-color: #22283A;
  color: #F1F1F1;
  font-size: 2rem;
  width: 30%;
  padding: 3% 2%;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.home .walk .walk-text .btn:hover {
  background-color: #F1F1F1;
  color: #22283A;
  font-size: 2rem;
  width: 30%;
  padding: 3% 2%;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .home .walk .walk-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .home .walk .walk-text h3 {
    padding: 15px;
  }
  .home .walk .walk-text p {
    padding: 0 15px;
  }
  .home .walk .walk-text .btn {
    width: 90%;
    margin: 2% 3%;
    align-items: center;
  }
  .home .walk .walk-img {
    width: 95%;
  }
}
