// Mixins Here

.top-styles{
    display: flex;
    flex-direction: column;
    background-color: @nav-bg;
    align-items: center;
    position: fixed; /*makes header fixed*/
    width: 100%;
    top: 0; /*end of fixed header styles*/
    h2{
        padding: 1% 0;
    }
    
}

.nav-styles{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    color: @nav-font;
    a{
        text-decoration: none;
        color: @nav-font;
        padding: 2%;
        border-radius: 10px;
        }
}

.button(@bg-color, @font-color){
    background-color: @bg-color;
    color: @font-color;
    font-size: 2rem;
    width: 30%;
    padding: 3% 2%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;

}

.color-animate{
       animation-name:start;
       animation-duration:0.8s;
       animation-direction: alternate;
       animation-iteration-count: infinite;
      
    @keyframes start{
      0% {background-color: #e6e6ff;}
      25% {background-color: #8080ff;}
      50% {background-color: #3333ff;}
      50% {background-color:  #0000b3;}
      100% {background-color:  #000066; color: white;}
    }
}
