// Navigation code here

.topbar{
    .top-styles();
    nav{
        .nav-styles();
        a:hover{
            .color-animate();
        }
        @media @mobile{
            display: flex;
            width: 90%;
            justify-content: space-evenly;
        }
    }
}

